## MySQL

- MySQL 存储以字节为单位, 一个中文占三个字节.
-

In [ ]:
### Library level command

create database if not exists erp_name charset=utf8;
drop database if exists db_name;
use db_name;

In [ ]:
### Table level command

show tables;
desc <table>;                                             --> Specific contents of display table.
create table table_name(id int, parameter varchar(64), age tinyint, parameter enum("parameter1"，"parameter2"));     
show create table table_name; 　　　　　　　　            --> Display creation information.
drop table if exists table_name;

In [ ]:
### Insert data

insert into table_name (id, name) values (1, 'gcc');                --> Insert the specified field.
insert into table_name values (2, 'liangzi', 18);                   --> Full field insertion.
insert into table_name values (...),(...);                         --> Multi line insertion.

In [ ]:
### Delete data

delete from table_name where id is NULL

In [ ]:
### Update data

update table_name set ...=... where ...=...;      Modify eligible data.

### Query data

In [ ]:
select * from table_name;          　　                                                  --> Full field query.
select name, age from table_name;  　　　　　                                            --> Specified field query.
select * from table_name where ...=...; / select * from table_name where ...>...;   　 --> Conditional query.

In [ ]:
### Comparison operator(比较运算符)
=                                     --> Be equal to.
!=　　　　　　　　　　　　　　　　    --> Not equal to.
is null　　　　　　　　　　　　　     --> Empty.
is not null


### Logical operator(逻辑运算符)
and / or / not


### 排序
order by ... asc　　　　　　　　　　　　　             --> Ranking from small to large.
select * from table_name order by ...asc;

order by ... desc　　　　　　　　　　　　　            --> Ranking from large to small.
select * from table_name order by ...asc;

order by ... limit n　　　　　　　　　　　　　         --> So long as n.

order by ... limit n, m　　　　　　　　　　　　        --> Offset n, get m from n+1.

select distinct field_name from table_name;　　　　　  --> Remove duplication(去掉重复).

In [ ]:
### Fuzzy query

select * from table_name where field_name like "%...%";　　　          --> % 代表任意多个字符, like 与 where 连用.

select * from table_name where field_name like "g__";　　　　　        --> _ 代表任意一个字符, 查询以g开头后面是两个字符的数据.


# POINT:如果 like 不和 % 或 _ 一起用, 就等同于 =(等于).

In [ ]:
### Scope query(范围查询)

select * from table_name where field_name between ... and ...;        --> between a and b (Continuous range, including a , b).

select * from table_name where field_name in('...', '...')　　　　     --> Interval range.

In [ ]:
## Aggregation and grouping(聚合分组)

#### Statistics(统计)
select count(id) from table_name where ...>...;    　　　　　　　　　 --> Generally write id.
select sum(field_name) from table_name where ...;       　　　　　　　 --> Summation.
select avg(field_name) from table_name;     　　　　　　　　　　　　　 --> Average value.
select max(field_name) from table_name;                                --> Maximum value.

# POINT:All tables are replaced by tables！字段里有 NULL 不会计算进去.



#### Groping(分组)
select field1_name, sum(field_name) from A_table_name group by B_field_name;               --> 从 A表 以 字段B 分组出 两个字段数据.

select field1_name, field2_name as field3_name from table_name group by field_name;　　　　--> as 代表别名.

        having        --> Where keywords cannot be used with statistical functions(WHERE字句无法和统计函数用在一起) 
    
    Example：select field1, field2 as field3 from table_name group by field_name having sum(filed_name) > ...
                select field1, field2 as field3 from table_name where field like "%...%" group by field having ...
        
A query statement contains alias(as) 、aggregation functions、where and having，It first executes where,then aggregation 
    functions and alias,and finally having. Where condition should be written before group by.

In [ ]:
### Subquery

select * from table_name where field1_name < (select avg(field2_name) from table_name);
select * from demo_table.field1, demo_table.field2 from (select * from table_name where ...) as demo_table;

In [ ]:
## Join query

#### Inner join
select * from table_name1 inner join table_name2;　　　　　　　　　　　　　　　　　　   --> 无条件内连接 / 交叉连接 / 笛卡尔连接.
select A_table.field, field from A_table inner join B_table on field1=field2;　　　     --> 有条件内连接.


#### External connection
left join　When two tables are joined, if the join conditions do not match, the data in the left table is retained, 
    while the right table is filled with NULL.
right join　When two tables are joined, if the join conditions do not match, the data in the right table is retained, 
    while the left tables is filled with NULL.

In [ ]:
## 约束条件(一般表创建时)

#### 默认约束(default)
field_name field_type default value;        --> 插入数据时无默认值，为 NULL, 否则 将自动设为默认值.


#### 非空约束(not NULL)


--> 一般与 default 配合使用. insert 时必须为该字段赋值, 但是 enum('A', 'B') 被修饰的时候 默认为 A.

### ORM 之 SQLAlchemy

In [ ]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

HOST = "127.0.0.1" / PORT / DATABASE / USERNAME / PASSWORD
DB_URI = 'mysql+pymysql://{}:{}@{}:{}/{}?charset=utf8'.format(
    USERNAME, PASSWORD, HOST, PORT, DATABASE
)

# Version >= 3.6
HOST = 127.0.0.1 / PORT
DB_URI = f'mysql+pymysql://{HOST}:{PORT}'

engine = create_engine(DB_URI)
Base = declarative_base(engine)
Session = sesionmaker(bind=engine)


SHOW VARIABLES LIKE 'character%';         # 查看字符集
SHOW GRANTS FOR admin;                    #查看权限

# 测试连接
if __name__ == "__main__":
    connection = engine.connect()
    result = connection.excute('select 1')
    print(result.fetchone())
    

# 表数据进行增删改查之前需要建立会话
IPYTHON:

from models.db import Session

person = User(name='', password='')
Session().add(person)
Session().add_all([User(...), User(...)])
Session().commit()

Session().query(User).all()
Session().query(User).first()
Session().query(User).filter(User.name=="...").first()
Session().query(User).filter_by(name='...').first()

Session().query(User).filter(User.name=='...').update({User.password: 123})
Session().commit()

Session().delete(Session().query(User).filter(User.name=="...")[0...])